body {
    background-color: #88B5F2;
    font-family: sans-serif;
    color: #4e545b;
    margin: 0
}

#app {
    background-color: #FFFFFF;
    width: 60%;
    margin: 0 auto;
    min-height: 100%;
}

.app-header {
    padding:25px 0;
    background-color: #455366;
    color: #FFFFFF;
    height:90px;
    position:fixed;
    top:0px;
    width:60%
}

.app-body {
    padding-bottom: 115px;
    padding-top: 150px
}

.app-header h1 {
    margin: 25px 25px 0 25px;
}

.app-header span {
    margin: 0  0 25px 25px;
    color: #FFFFFF
}

span {
    display: block;
    color: #767d86;
    margin-bottom:5px
}

ul {
    margin:0;
    padding:0
}

ul li {
    border-bottom: 1px solid #dde6f1;
    list-style: none;
    padding: 0 15px 15px 15px;
}

.app-footer {
    height:110px;
    background-color: #455366;
    position:fixed;
    width:60%;
    bottom:0px;
    text-align: center
    
}

.app-footer span {
    color:#FFFFFF;
    text-align: center;
    margin-top:10px;
    font-weight: bolder
}

#radius_input {
    width: 40%
}